
.container {
  padding: 10px 0 10px 10px;
  //flex: 0 0 50%;
  flex: 1;
  min-width:50%;
  background-color: #021627;
  position: relative;
  
  .lessonName {
    font-size: 20px;
    line-height: 40px;
  }
}

.editor {
  display: flex;
  
}

.fileList {
  overflow: initial;
  width: 20%;
  height: 100%;
}

.content {
  overflow: initial;
  width: 80%;
  height: 100%;
}