.editor {
  color: #ffffff;
}

.buttons {
  padding: 0 10px;
}

.fileAction {
  margin-right: 10px !important;
}

/* Syntax highlighting */
:global(.token) {
  &:global(.comment),
  &:global(.prolog),
  &:global(.doctype),
  &:global(.cdata) {
    color: #999;
  }
  &:global(.punctuation) {
    color: #9e9e9e;
  }
  .namespace {
    opacity: 0.7;
  }
  &:global(.property),
  &:global(.tag),
  &:global(.boolean),
  &:global(.number),
  &:global(.constant),
  &:global(.symbol),
  &:global(.deleted) {
    color: #67cdcc;
  }
  &:global(.selector),
  &:global(.attr-name),
  &:global(.string),
  &:global(.char),
  &:global(.builtin),
  &:global(.inserted) {
    color:#e2777a;
  }
  &:global(.operator),
  &:global(.entity),
  &:global(.url) {
    color: #f8c555;
  }
  &:global(.atrule),
  &:global(.attr-value),
  &:global(.keyword) {
    color: #cc99cd;
  }
  &:global(.function) {
    color: #f08d49;
  }
  &:global(.regex),
  &:global(.important),
  &:global(.variable) {
    color: orange;
  }
  &:global(.important),
  &:global(.bold) {
    font-weight: bold;
  }
  &:global(.italic) {
    font-style: italic;
  }
  &:global(.entity) {
    cursor: help;
  }
}

:global(.language-css .token.string),
:global(.style .token.string) {
  color: #e2777a;
}
