:global(body) {
  height: 100vh;
  margin: 0;
}

:global(a){
  color: #008E80;
  text-decoration: none;
}

:global(a:hover){
  color: #008E80;
  text-decoration: underline;
}

:global(#app) {
  height: 100%;
  width: 100%;
}

.motto {
  margin-top:100px;
  margin-bottom:50px;
  width: 100%;
  text-align: center;
  font-size: 40px;
  background-color: #008E80;
  color: #fafafa;
  border-radius: 20px;
}