:global(body) {
  height: 100vh;
  margin: 0;
}

:global(a){
  color: #008E80;
  text-decoration: none;
}

:global(a:hover){
  color: #008E80;
  text-decoration: underline;
}

:global(#app) {
  height: 100%;
}

.header {
  padding-top: 10px;
}

.headerRight {
  font-size: 20px;
  text-align: right;
}

.logo {
  display: flex;
  line-height: 34px;
  font-size: 20px;
  font-weight: bold;
  color: #008E80;
}

.title {
  display: flex;
}

.inputContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  //align-items: center;
}

.button {
  height: 56px;
}

.progress {
  margin-top: 15px;
}

.thankYou {
  text-align: center;
  font-size: 20px;
  color: #008E80;
}

.howTo {
  text-align: justify;
}

.error {
  padding: 15px;
}

.uploadVideo {
  max-width: 800px;
  width: 100%;
  display: block;
  margin: auto;
}

.footer {
  border-top: 1px solid #008E80;
  bottom: 10px;
  text-align: center;
  background-color: #fafafa;
  z-index: 1;
  margin-top: 20px !important;
}

.footerText {
  margin: auto !important;
}