.container {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.courseHeader {
  display: flex;
  justify-content: space-between;
}

.courseAction {
  display: flex;
}

.chapter {
  flex: 0 1 auto;
  border: 1px #008E80 solid;
}
.chapters {
  overflow: hidden;
}

.courseTitle {
  text-align: center;
  padding: 5px 0;
}

.courseContent {
  flex: 1 1 auto;
  border: 1px #008E80 solid;
  display: flex;
  overflow: hidden;
}

.error {
  text-align: center;
  padding-top: 200px;
  line-height: 50px;
}

.fullWidth{
  max-width: 100%;
  flex-basis: 100%;
}

.lessonControll {
  display: flex;
  justify-content: space-between;
}