.container {
  position: relative;
  padding:16px;
  overflow: initial;
  flex: 1;
  min-width:50%;

  :global(pre) {
    background-color: #000000;
    color: white;
    padding: 10px;
    overflow: initial;
  }
}

.error {
  margin-top: 10px;
}